 body {
    background-color: #17D4FE;
 }

 .clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(113, 113, 255);
    font-size: 46px;
    font-family: "orbitron";
 }